
/* Your CSS Code here. */
div{
	text-align:center;
}
.imgDiv{
	height:200px;
	margin:0% 32.6%;
}
img{
	height:100%;
	
}
.divH1{
	margin-top:10px;
}
h1{
	margin:0px;
}
button{
	padding:10px 16px;
	border:0px
}
.additionalInfo{
	font-size:1.3em;
	margin-bottom:10px;
}
.btnDiv{
	margin-bottom:10px;
}
